In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv')
gdp_df.head(6)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN

In [15]:
internet_df = pd.read_csv('../data/internet_use.csv')
internet_df.head(6)

ParserError: Error tokenizing data. C error: Expected 4 fields in line 4675, saw 6